<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="{{ theme }}">
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Theme Switcher -->
    <div class="theme-switcher">
        <a href="#" data-theme="light">
            <i class="fa-regular fa-sun"></i>
        </a>
        <a href="#" data-theme="dark">
            <i class="fa-regular fa-moon"></i>
        </a>
    </div>
    
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
</body>
</html>
